/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	transform: translate(0em, -3em);
}

#closed-captions .on {
	opacity: 1;
}

#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

.voice1 {
	font-family: "brenner mono";
	bottom: -160px;
	color: white;
	font-size: 25px;
}

.voice2 {
	font-family: "brenner sans";
	font-style: italic;
	top: 1px;
	color: white;
	font-size: 25px;
}

.voice4 {
	font-family: "brenner slab";
	bottom: -135px;
	right: 10px;
	color:green;
	font-size: 25px;
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */


.p1 {
	font-style: none;
	color: green;
	font-size: 50px;
	font-family: "brenner slab";
}


.p6 {
	color: red;
	font-size: 20px;
	background-color: white;
	font-family: "brenner slab";
	bottom: 10px;
	left: 200px;
}

/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

/* Achtergrond is overal zwart. */

.sound1 {
	background-color: black;
}

.sound2 {
	background-color: black;
}

.sound3 {
	background-color: black;
}

.sound4 {
	background-color: black;
}

.sound5 {
	background-color: black;
}

.sound6 {
	background-color: black;
}

/* De sounds per sound onderverdeeld. Elke sound heeft zijn eigen styling. */

.sound1 #video-container {
  box-shadow: 0px 0px 20px 130px rgb(95, 0, 0);
  transition: 1s;
}

.sound2 #video-container {	
	box-shadow: 0px 0px;
	transition: 1s;
}

.sound3 #video-container{
	box-shadow: 0px 0px 20px 20px blue;
	transition: 1s;
}

.sound4 #video-container{
	box-shadow: 0px 0px;
	transition: 1s;
}

body.sound3 {
	box-shadow: inset 0px 0px 100px 35px red;
	transition: 1s;
}

body.sound4 {
	box-shadow: inset 0px 0px 0px 0px black;
	transition: 1s;
}

.sound5 #video-container{
	box-shadow: 0px 0px 12px 12px blue;
	transition: 1s;
}

.sound6 #video-container{
	box-shadow: 0px 0px 22px 130px white;
	transition: 1s;
}

.sound7 #video-container{
	box-shadow: 0px 0px;
	transition: 1s;
}

.sound8 #video-container{
	box-shadow: 0px 0px 12px 12px white;
	transition: 1s;
}

.sound9  #video-container{
	box-shadow: 0px 0px 22px 130px blue;
	transition: 1s;
}

.sound10 #video-container{
	box-shadow: 0px 0px;
	transition: 1s;
}

.sound11 #video-container{
	box-shadow: 0px 0px 12px 12px blue;
	transition: 1s;
}

.sound12  #video-container{
	box-shadow: 0px 0px 22px 130px white;
	transition: 1s;
}

.sound13 #video-container{
	box-shadow: 0px 0px;
	transition: 1s;
}

.sound14 #video-container{
	box-shadow: 0px 0px 72px 30px rgb(180, 180, 180);
	transition: 1s;
}

.sound14 #video-mask{
	box-shadow: 0px 0px 72px 130px rgb(180, 180, 180);
	transition: 43s;
	transition-timing-function: cubic-bezier(.14,.75,.89,.45);
	animation: shake 0.5s;
    animation-iteration-count: infinite; 
}

body.sound14 {
	box-shadow: inset 0px 0px 100px 35px white;
	transition: 43s;
}

.sound14 #video-mask {
	animation: zoom-in-zoom-out 1s ease infinite,
		shake .5s infinite;
  }
  
  @keyframes zoom-in-zoom-out {
	0% {
	  transform: scale(1, 1);
	}
	50% {
	  transform: scale(1.2, 1.2);
	}
	100% {
	  transform: scale(1, 1);
	}
}

@keyframes shake {
	12.5% { transform: translate(.2px, .2px); }
	25% { transform: translate(-2px, -2px); }
	37.5% { transform: translate(.2px, .2px); }
	50% { transform: translate(-2px, -2px); }
	62.5% { transform: translate(.2px, .2px); }
	75% { transform: translate(-2px, -2px); }
	87.5% { transform: translate(.2px, .2px); }
	100% { transform: translate(-2px, -2px); }
}

.sound15 #video-mask {
	animation: zoom-in-zoom-out2 1s ease infinite,
		shake .5s infinite;
  }
  
  @keyframes zoom-in-zoom-out2 {
	0% {
	  transform: scale(1, 1);
	}

	50% {
	  transform: scale(1.5, 1.5);
	}

	100% {
	  transform: scale(1, 1);
	}
}

.sound16 #video-mask {
	animation: zoom-in-zoom-out3 1s ease infinite,
		shake .3s infinite;
  }
  
  @keyframes zoom-in-zoom-out3 {
	0% {
	  transform: scale(1, 1);
	}

	100% {
	  transform: scale(2.5, 2.5);
	}
}

.sound17 #video-mask{
	box-shadow: none;
	animation: none;
	transition: 1s;
}

.sound17 #video-container{
	box-shadow: none;
	transition: 1s;
}

body.sound18 {
	box-shadow: none;
	animation: none;
	transition: 1s;
}

/* **********************************************
Basic layout.
	Place the video in the center of the page.
*********************************************  */

body {
	display: grid;
	height: 100vh;
	margin: 0;
	justify-content: center;
	background-color: black;
}

#video-container {
	margin: auto;
	position: relative;
}

#video-mask {
	aspect-ratio: 240.5/100;
	display: grid;
	overflow: hidden;
	align-content: center;
	transition: 1s;
}

iframe {
	width: 80vw;
	height: 53.33333333vw;
	margin-top: -0.35vw;
}

